body {
  margin: 0 auto;
  padding: 20px 60px;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* body {
  font-family: 'Open Sans Condensed';
  
} */

a{
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}