
.app-data-table {
    margin: 72px;
    margin-bottom: 22px;
    border: 1px solid;
    margin-top: 4%;
    margin-left: 13%;
    margin-right: 13%;
    border: 1px solid;
    margin-top: 4%;
    margin-bottom: 22px;
}
.fa {
    margin-left:5px;
    opacity:50% ;
}
.fa:hover{
    font-size: 18px;
    opacity: 100%;
}