
.loginbox {
    border: 2px solid #222;
    width: 340px;
    min-width: 300px;
    height: 301px;
    margin-top: 39%;
    box-shadow: 7px 9px 3px 1px rgba(168,168,168,1);
    /* text-align: ce; */
    /* font-family: robot; */
}
.loginbox > input , button {
    width: 280px;
    height: 34px;
    margin-left: 26px;
    margin-top: 20px;
    text-align: center;
    font-size: 19px;
}

.loginbox > button {

    width: 286px;
    height: 38px;
    background: #272525db;
    color: white;

}
.loginbox > .name {
    text-align: center;
    font-size: 19px;
    margin-top: 25px;
    font-weight: bold;
}
